<section>


    @if (n8n.loadingScreen()) {
        <div>
            <div class="loading-container">
                <div class="loadingGif">
                    <img src="assets/gif/Code_Cuisine_Loading_Spinner.gif" alt="Loading-screen">
                </div>
                <span>Generating...</span>
            </div>
        </div>
    }

    @if (!n8n.loadingScreen()) {
        <div class="dialog">
            <div class="dialogContainer">
                <h5>{{ errorservice.currentError()?.title || 'Oops! Something went wrong.' }}</h5>
                <span>{{ errorservice.currentError()?.message || 'Unknown error' }}</span>
                <div class="linkContainer">
                    <a class="linkContainer" routerLink="/recipe">Generate new recipe
                        <div class="link">
                            <img src="assets/icon/Arrow 18.svg" alt="arrow">
                        </div>
                    </a>
                </div>

            </div>
        </div>
    }
</section>
