@use '../../../../styles/variables' as *;
section{
    background-color: var(--bg-color);
    @include border(16px, 48px);
    >a{
        font-size: 24px;
        color: var(--font-color-default);
        text-decoration: none;
    }
}