@use '../../../../styles/variables' as *;

section {
  display: flex;
  justify-content: center;
  
  main{
    padding: 8px 48px;
    @include flex($jc: space-between);

    div{
       @include flex-col($ai: flex-start, $g: 8px);
       a{
         text-decoration: none;
        cursor: pointer;
       }
    }

    span{
      font-size: 1.25rem;
      &.dark  { color: var(--cream-warm); }
      &.light { color: var(--green-medium); }
    }
  }
}


img{
  width: 104px;
}

@media (max-width: 780px) {
  section {
    padding: 0 16px;
  }
}

@media (max-width: 400px) {
  section {
    @include flex-col();
  }
}
