@import '../../../../styles/variables';

.cookbookContainer {
  padding: 40px;
  max-width: 1400px;
  margin: 0 auto;
}

.cookbookHeader {
  background-color: rgba(57, 96, 57, 0.04);
  border-radius: 20px;
  padding: 40px;
  margin-bottom: 60px;
  display: flex;

  .headerLeft {
    flex: 1;
    max-width: 40%;

    .mainTitle {
      font-size: 4rem;
      color: var(--bg-color);
      margin: 0 0 20px 0;
      font-weight: bold;
      font-family: var(--font-primary-regular);
    }

    .subtitle {
      font-size: 1.5rem;
      line-height: 1.4;
      margin: 0;
      color: #333;
    }
  }

  .headerRight {
    flex: 1;
    overflow: hidden;

    .sectionTitle {
      @include dpf($ai:flex-start, $g:8px);
      font-size: 1.5rem;
      margin: 0 0 20px 0;
     color: var(--color-primary-light);

      .heartIcon {
        color: var(--bg-color);
        font-size: 1.75rem;
        font-weight: bold;
      }
    }

    .recipeCards {
      overflow-x: auto;
      padding-bottom: 10px;
      cursor: pointer;
      @include dpf($g:8px);

      &::-webkit-scrollbar {
        display: none;
      }

      -ms-overflow-style: none;
      scrollbar-width: none;

      .recipeCard {
        background-color: rgba(219, 224, 219, 0.7);
        border-radius: 12px;
        padding: 20px;
        min-width: 250px;
        height: 170px;

        .recipeCardTop {
          @include dpf($jc:space-between, $g:8px);
          font-size: 1rem;
          color: #666;

          .recipeTime {
            color: var(--color-primary-light);
          }

          .recipeLikes {
            @include dpf($g: 8px);
            background-color: #D1DED1;
            color: var(--color-primary-medium);
            padding: 4px 10px;
            border-radius: 20px;
            font-weight: bold;
          }
        }

        .recipeTitle {
          font-size: 1.5rem;
          margin: 0;
          font-weight: 500;
          color: var(--color-primary-medium);
        }
      }
    }
  }
}

.cuisineGrid {
  flex-wrap: wrap;
  @include dpf($jc:space-between, $g:24px);
  margin-bottom: 60px;

  .cuisineItem {
    .cuisineTitle {
      margin-bottom: 8px;
      font-size: 1.75rem; 
      color: var(--bg-color);
      font-weight: 600;
      text-transform: capitalize;
    }

    .cuisineLink {
      display: block;
      border-radius: 10px;
      overflow: hidden;
      transition: transform 0.2s ease-in-out;
      width: 360px;
      height: 360px;
      cursor: pointer;

      &:hover {
        transform: scale(1.02);
      }

      .cuisineImage {
        width: 100%;
        height: 100%;
        object-fit: cover;
        display: block;
      }
    }
  }
}

.cookbookFooter {
  text-align: right;

  .generateLink {
    font-size: 1.5rem;
    color: var(--color-primary-medium);
    text-decoration: none;
    transition: color 0.2s;

    &:hover {
      color: var(--bg-color);
    }
  }
}