<section>
    <h4>Choose your preferences</h4>
    <div class="preferences">
        <div class="selectPreferences">
            <span>How many portions you need?</span>
            <div class="preferenceInput">
                <button (click)="fewer('portions')"><img src="assets/icon/del.svg" alt=""></button>
                <div>
                    <input type="number" readonly [(ngModel)]="portions">
                    <span>Portions</span>
                </div>
                <button (click)="addedMore('portions')"><img src="assets/icon/add.svg" alt=""></button>
            </div>

        </div>
        <div class="selectPreferences">
            <span>How many are cooking</span>
            <div class="preferenceInput">
                <button (click)="fewer('person')"><img src="assets/icon/del.svg" alt=""></button>
                <div>
                    <input type="text" readonly [(ngModel)]="person">
                    <span>Person</span>
                </div>
                <button (click)="addedMore('person')"><img src="assets/icon/add.svg" alt=""></button>

            </div>
        </div>
    </div>
</section>
