<section>
    <div class="mainContainer">
        <div class="recipeHeader">
            <h2>Generate recipe</h2>
            <span>Got random stuff in your kitchen? Pop it in — we’ve got the perfect recipe waiting.</span>
        </div>

        <div class="content">
            <form class="containerLeft container"  #contactForm="ngForm" autocomplete="off">
                <div class="ingredientContainer inputContain">
                    <h5>Ingredient</h5>
                    <input #ingredientInput="ngModel" name="ingredient" [(ngModel)]="value" type="text" placeholder="potato" maxlength="25" required minlength="2">

                    <div class="errorContainer">
                        @if (saveAttempted && !ingredientInput.valid) {
                            <span class="errorMassage">Enter a valid ingredient</span>
                        }
                    </div>
                </div>
                <div class="servingContainer inputContain">
                    <h5>Serving size</h5>
                    <div class="servingInput">
                        <input #amountInput="ngModel" name="amount" type="text" placeholder="100" maxlength="5" class="inputShort" [(ngModel)]="amount" (keypress)="onlyNumbers($event)" required>
                        <div class="customSelectContainer inputShort">
                            <div class="customSelect selectServing" (click)="toggleDropdown()">
                                <span>{{ unit || 'gram' }}</span>
                                <div class="arrow" [class.up]="isDropdownOpen"></div>
                            </div>
                            @if(isDropdownOpen){
                                <ul class="dropdownOptions">
                                    @for(opt of unitOptions; track opt){
                                        <li (click)="selectUnit(opt)">{{ opt }}</li>
                                    }
                                </ul>
                            }
                        </div>
                        <button type="button" (click)="saveIngredient(contactForm)"><img src="assets/icon/addBig.svg" alt=""></button>
                    </div>
                    <div class="errorContainer">
                        @if (saveAttempted && !amountInput.valid) {
                            <span class="errorMassage">Enter a serving size</span>
                        }
                    </div>
                </div>
            </form>

            <div class="containerRight container">
                <h5>List of your Ingredients</h5>
                @if(ingredientsList.length === 0){
                    <div class="emptyListWrapper">
                        <span class="emptyListText">Your list is empty. Please add at least 3 ingredients.</span>
                    </div>
                }
                @for (ingredient of ingredientsList; track ingredient; let i = $index){
                    @if (editingIndex === i) {
                        <div class="inlineEditWrapper ingredientsWrapper">
                            <div class="inlineInputs">
                                <input type="text" maxlength="5" class="inputShort editPill" [(ngModel)]="editingIngredient.size" (keypress)="onlyNumbers($event)">
                                
                                <div class="customSelectColumn inputShort">
                                    <div class="customSelect selectServing editPill" (click)="toggleEditDropdown()">
                                        <span>{{ editingIngredient.unit || 'gram' }}</span>
                                        <div class="arrow" [class.up]="isEditDropdownOpen"></div>
                                    </div>
                                    @if(isEditDropdownOpen){
                                        <ul class="inlineDropdownOptions">
                                            @for(opt of unitOptions; track opt){
                                                <li (click)="selectEditUnit(opt)">{{ opt }}</li>
                                            }
                                        </ul>
                                    }
                                </div>

                                <input type="text" class="editText" maxlength="25" [(ngModel)]="editingIngredient.value">
                            </div>
                            
                            <div class="itemActions">
                                <button (click)="saveEdit()"><img src="assets/icon/check.svg" alt="" style="width:16px;"></button>
                                <button (click)="deleteIngredient(i)"><img src="assets/icon/delete.svg" alt=""></button>
                            </div>
                        </div>
                    } @else {
                        <div class="ingredientsWrapper bghover">
                            <div class="ingredientText"> • {{ ingredient.size }}{{ ingredient.unit }} {{ ingredient.value }}
                            </div>
                            <div class="itemActions">
                                <button (click)="startEdit(i, ingredient)"><img src="assets/icon/edit.svg" alt=""></button>
                                <button (click)="deleteIngredient(i)"><img src="assets/icon/delete.svg" alt=""></button>
                            </div>
                        </div>
                    }
                }
            </div>
        </div>

        @if (ingredientsList.length > 2) {
            <div class="buttonContainer">
                <a routerLink="/preferences"><button (click)="saveToService()" class="bigButton btnLight">Next step</button></a>
            </div>
        }
    </div>

</section>