
@use '../../../../styles/variables' as *;

section{
    margin-top: 64px;
    height: calc(100vh - 84px - 62px);
    @include dpf-col($jc: flex-start);
    >.recipeHeader {
        @include dpf-col($g:24px);
        text-align: center;
    }    
}

.content{
    @include dpf($g:56px, $ai:flex-start);
    width: 100%;
    margin-top: 64px;
    >.containerLeft{
    >.servingContainer{
       >.servingInput{
        @include dpf($g:8px);
            text-align: center;
        >button{
            @include dpf();
            text-align: center;
            font-size: 32px;
            height: 32px;
            width: 32px;
            border: none;
            background-color: transparent;
            color: #10310B;
            cursor: pointer;

            &:hover{
                background-color: #10310B;
                color: var(--font-color2);
                border-radius: 50%;
            }
        }
       }
    }   
}
>.containerRight{
    @include dpf-col($g:8px, $ai:flex-start );
    >.ingredientsWrapper{
        padding: 0px 24px;
        width: 100%;

        >div{
            cursor: pointer;
            width: 100%;
            background-color: transparent;
            padding: 6px;
            border-radius: 8px;
            &:hover{
             background-color: #FAF0E6CC;
                
            }
        }
    }
}
}

.selectServing,
input{
    background-color: #FAF0E6CC;
    width: 300px;
    height: 36px;
    border-radius: 20px;
    font-size: 16px;
    border: none;
    padding: 0px 8px
}
.inputShort{
    width: 80px;
}

h2{
    font-size: 3.375rem;
    color: #1E5515;
}

h5{
    font-size: 20px;
    color: #10310B;
}

span{
    font-size: 1.5rem;
    color: #10310B;
    font-weight: 400;
    font-family: quicksand;

}

.container{
        @include dpf($g: 16px);
        background-color: var(--lightbg-color);
        min-height: 240px;
        padding: 24px;
        border-radius: 20px;
        min-width: 480px;
}

  .inputContain{
       @include dpf-col($ai: flex-start, $g:8px);
  }

  .itemActions{
    @include dpf();

  }