:root {
    --bg-color: #396039;
    --dialog-color: #3960394D;
    --popup-color: #10310B;
    --btn-color: #396039;
    --btn-text-color: #FAF0E6;
    --font-color2: #008000;
    --font-color-default: #F5F5DC;

}





@mixin dpf ($jc: center, $ai: center, $g: 0) {
    display: flex;
    justify-content: $jc;
    align-items: $ai;
    gap: $g;
}

@mixin dpf-col($jc: center, $ai: center, $g: 0) {
    display: flex;
    justify-content: $jc;
    align-items: $ai;
    gap: $g;
    flex-direction: column;
}

@mixin border($tb: 0px, $lr: 0px) {
    padding: $tb $lr;
}