
<section>
    <div class="content content-beg content-border">
        <div class="recipeHead">
            <div class="containerLeft">
                <div class="cookingTime">
                    <img src="assets/icon/clock.svg" alt="clock">
                    <span>Coocking time: 20min</span>
                </div>
                <h2>Pasta with spinach and cherry tommatoes</h2>
                <div class="cookingPerson">
                    <span>coocking person: 2</span>
                    <div class="teamContainer">
                        <div class="personTag">
                            <img src="assets/icon/Untitled design 2.svg" alt="">
                            <span>Chef 1</span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="containerRight">
                <div>

                </div>
                <div>
                    <span>Nuttritional information</span>
                    <table>
                        <tr>
                            <th>Energie</th>
                            <th>Protein</th>
                            <th>Fat</th>
                            <th>Carbs</th>
                        </tr>
                        <tr>
                            <td>630 kcal</td>
                            <td>18g</td>
                            <td>24g</td>
                            <td>58g</td>
                        </tr>
                    </table>
                </div>
            </div>
        </div>

        <div class="ingredients">
                <img src="assets/separator/Ingedients.svg" alt="">
                <div class="ingredientsContainer">
                    <div>
                        <h5>Your ingredients</h5>
                        <div class="ingredientsWrapper">
                            <li>80g <span>pasta</span></li>
                            <li>80g <span>pasta</span></li>
                            <li>80g <span>pasta</span></li>
                            <li>80g <span>pasta</span></li>
                            <li>80g <span>pasta</span></li>
                            <li>80g <span>pasta</span></li>
                        </div>
                    </div>
                    <div>
                        <h5>Extra ingredients</h5>
                        <div class="ingredientsWrapper">
                            <li>80g <span>pasta</span></li>
                            <li>80g <span>pasta</span></li>
                            <li>80g <span>pasta</span></li>
                            <li>80g <span>pasta</span></li>
                            <li>80g <span>pasta</span></li>
                            <li>80g <span>pasta</span></li>
                        </div>
                    </div>
                </div> 
            </div> 

        

        <div class="directions">
            <img src="assets/separator/Directions.svg" alt="">
            <div class="directionsContainer">
                    
                <div class="directionsCard">
                    <div class="directionsHead">
                        <div class="directionsOverview">
                            <span>1.</span>
                            <h5>Cook the Pasta</h5>
                        </div>
                        <div class="personTag">
                            <img src="assets/icon/Untitled design 2.svg" alt="">
                            <span>Chef 1</span>
                        </div>
                    </div>
                    <div>
                        <span class="cookingText">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Perspiciatis laudantium ex rerum neque magni voluptatibus animi sunt odit non ipsam amet facere blanditiis, laboriosam, sint sapiente, tempore esse vitae soluta!</span>
                    </div>
                </div>
            </div>
        </div>
        
        <div>
        </div>
        
    </div>

</section>

