@use '../../../../styles/variables' as *;


section{
    @include dpf();
    >.content{
        background-color: rgba(250, 240, 230, 0.3);
        min-height: 100vh;
        border: 4px solid rgba(250, 240, 230, 1);
        border-radius: 20px;
        @include dpf-col();
    }
}

.recipeHead{
    @include dpf($jc:space-around);
    background-color: rgba(250, 240, 230, 1);
    width: 1800px;
    border-radius: 20px;
    padding: 24px 0px;
    >.containerLeft{
        width: 50%;
        >.cookingTime{
            @include dpf($jc:flex-start, $g:8px);
            font-size: 20px;
            color: #396039;
            font-family: quicksand-medium;
        }
        >h2{
            font-size: 54px;
            color: #1E5515;
            font-size: quicksand-semiBold;
        }
        >.cookingPerson{
            @include dpf($jc:flex-start, $g:16px);
            >span{
                font-size: 20px;
                color: #396039;
                font-family: quicksand-medium;
            }

        }
    }
}

.personTag{
    @include dpf();
    text-align: center;
    background-color: rgba(215, 223, 215, 1);
    padding: 2px 4px;
    border-radius: 6px;
    >span{
        font-size: 18px;
        font-family: quicksand-medium;
    }
}
.ingredients{
    >img{
        width: 1800px; 
    }
    >.ingredientsContainer{
     @include dpf($jc:space-around);
     padding: 24px;
     >div{
        @include dpf-col();
        min-width: 480px;
        >h5{
           color: #008000;
           font-size: 24px;
           font-size: quicksand-semiBold;
        }
        >.ingredientsWrapper{
            padding: 24px;
            >li{
                font-size: 24px;
                font-family: quicksand-medium;
                color:#10310B;
            }

        }
     }
    
    }
}

.directions{
    >img{
        width: 1800px;
    }
    .directionsContainer{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    gap: 16px;
    padding: 24px 0px;
        .directionsCard{
            @include dpf-col($jc: space-between, $ai:flex-start, $g:8px);
            max-width: 740px;
            min-height: 180px;
            padding: 24px 48px;
            border: 4px solid #FAF0E6;
            border-radius: 20px;
            >.directionsHead{
                width: 100%;
                @include dpf($jc:space-between);
                >.directionsOverview{
                    @include dpf($jc:flex-start ,$g:6px);
                    >span{
                        background-color: #FAF0E6;
                        @include dpf();
                        height: 32px;
                        width: 32px;
                        border-radius: 50%;
                        font-size: 18px;
                        font-family: quicksand-medium;
                        color:#10310B;
                    }
                    >h5{
                        font-size: 24px;
                        font-family: quicksand-medium;
                        color:#10310B;
                    }
                }
            }

        }
    }
}

.cookingText{
    font-size: 18px;
    font-family: quicksand-medium;
    color:#10310B;
                    
}