<div class="returnContainer">
    <img class="arrow180deg" src="assets/icon/Arrow-dark.svg" alt="">
    @if (fromCookbook){
        <a routerLink="/cookbook">Cookbook</a>
    }@else{
        <a routerLink="/results">Recipe results</a>
    }
</div>

<section>
    <div class="mainContainer content content-border">
        <div class="mainContent">
            <div class="recipeHead">
                <div class="containerLeft">
                    <div class="cookingTime">
                        <img src="assets/icon/clock.svg" alt="clock">
                        <span>Cooking time: {{recipe.info.time}} min</span>
                    </div>
                    <h2>{{recipe.title}}</h2>
                    @if(!fromCookbook){
                        <div class="cookingPerson">
                            <span>cooking person: {{recipe.info.person}}</span>
                            <div class="teamContainer">
                                @for (data of getCookIcons(recipe.info.person); track $index; let i = $index){
                                    <div>
                                        <img class="imgIcon" [src]="'assets/icon/cook' + (i + 1) + '.svg'" alt="Cook Icon">
                                    </div>
                                }        
                            </div>
                        </div>
                    }
                </div>
                <div class="containerRight">
                    <div class="popUpBar">
                        <div class="popUp">
                            <span>{{recipe.info.confidence}}</span>
                        </div>
                        <div class="popUp">
                            <span>{{recipe.info.selectedtime}}</span>
                        </div>
                        <div class="popUp">
                            <img src="assets/icon/favorite.svg" alt="">
                            <span>{{recipe.info.likes}}</span>
                        </div>
                    </div>

                    <div class="nutriInfo">
                        <span class="nutriLabel">Nutritional information</span>
                        <div class="nutriGrid">
                            <div class="nutriItem">
                                <span class="nutriTitle">Energie</span>
                                <span class="nutriValue">{{recipe.nutritional.energie}}</span>
                            </div>
                            <div class="nutriItem">
                                <span class="nutriTitle">Protein</span>
                                <span class="nutriValue">{{recipe.nutritional.protein}}</span>
                            </div>
                            <div class="nutriItem">
                                <span class="nutriTitle">Fat</span>
                                <span class="nutriValue">{{recipe.nutritional.fat}}</span>
                            </div>
                            <div class="nutriItem">
                                <span class="nutriTitle">Carbs</span>
                                <span class="nutriValue">{{recipe.nutritional.carbs}}</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="ingredients">
                <div class="separator">
                    <img class="sep-desktop" src="assets/separator/Ingedients.svg" alt="">
                    <img class="sep-mobile" src="assets/separator/Ingredients-responsiv.svg" alt="">
                </div>
                <div class="ingredientsContainer">
                    <div>
                        <h5>Your ingredients</h5>
                        <div class="ingredientsWrapper">
                            @for ( ingredients of recipe.ingredients.available; track $index; let i = $index){
                                <li>{{ingredients.size }}
                                    <span>{{recipe.ingredients.available[i]}}</span>
                                </li>
                            }
                        </div>
                    </div>
                    @if(recipe.ingredients.missing){
                        <div>
                            <h5>Extra ingredients</h5>
                            <div class="ingredientsWrapper">
                            @for(ingredients of recipe.ingredients.missing; track $index ;let i = $index){
                                <li>{{ingredients.size }}
                                    <span>{{recipe.ingredients.missing[i]}}</span>
                                </li>
                            }
                            </div>
                        </div>
                    }
                </div>
            </div>

            <div class="directions">
                <div class="separator">
                    <img class="sep-desktop" src="assets/separator/Directions.svg" alt="">
                    <img class="sep-mobile" src="assets/separator/Directions-responsiv.svg" alt="">
                </div>
                <div class="directionsContainer">
                    @for (stepItem of cookingIngredientList.CookingtextList; track $index; let i = $index){
                        <div class="directionsCard">
                            <div class="directionsHead">
                                <div class="directionsOverview">
                                    <span>{{i +1}}.</span>
                                    <h5>{{recipe.directions.steps[i].title}}</h5>
                                </div>
                                @if(!fromCookbook){
                                    <div>
                                        <img class="imgIcon" [src]="'assets/icon/cook' + (i % recipe.info.person + 1) + '.svg'" alt="Cook Icon">
                                    </div>
                                }
                            </div>
                            <div>
                                <span class="cookingText">{{recipe.directions.steps[i].instructions}}</span>
                            </div>
                        </div>
                    }
                </div>
            </div>

            <div class="cardFooter">
                <span>just finished this meal?</span>
                <span>Give at a heart, so that the other know this is delicious.</span>
                <button (click)="addLike()"><img [src]="selectAddLike ? 'assets/icon/Heart-filled.svg' : 'assets/icon/Heart.svg' " alt="heart-Icon"></button>
            </div>
        </div>

        <div class="cookbookContainer">
            <span>Find inpiration for your next culinary adventure</span>
           <a routerLink="/cookbook"><button class="bigButton btnLight">Cookbook</button></a>
        </div>

        <div class="linkContainer">
            <a class="bgdark" routerLink="/recipe">Generate new recipe
                <div class="linkarrow">
                    <img src="assets/icon/Arrow-dark.svg" alt="arrow">
                </div>
            </a>
        </div>
    </div>
</section>