<section>
    <div class="content content-beg content-border">
        <div class="mainContent">
            <div class="recipeHead">
                <div class="containerLeft">
                    <div class="cookingTime">
                        <img src="assets/icon/clock.svg" alt="clock">
                        <span>Coocking time: {{recipe.info.time}} min</span>
                    </div>
                    <h2>{{recipe.title}}</h2>
                    <div class="cookingPerson">
                        <span>coocking person: {{recipe.info.person}}</span>
                        <div class="teamContainer">
                            <div *ngFor="let dummy of getCookIcons(recipe.info.person); let i = index">
                                <img [src]="'assets/icon/cook' + (i + 1) + '.svg'" alt="Cook Icon">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="containerRight">
                    <div class="popUpBar">
                        <div class="popUp">
                            <span>{{recipe.info.confidence}}</span>
                        </div>
                        <div class="popUp">
                            <span>{{recipe.info.selectedtime}}</span>
                        </div>
                        <div class="popUp">
                            <img src="assets/icon/favorite.svg" alt="">
                            <span>{{recipe.info.likes}}</span>
                        </div>
                    </div>

                    <div>
                        <span class="nutriInfo">Nuttritional information</span>
                        <table>
                            <tr>
                                <th>Energie</th>
                                <th>Protein</th>
                                <th>Fat</th>
                                <th>Carbs</th>
                            </tr>
                            <tr>
                                <td>{{recipe.nutritional.energie}}</td>
                                <td>{{recipe.nutritional.protein}}</td>
                                <td>{{recipe.nutritional.fat}}</td>
                                <td>{{recipe.nutritional.carbs}}</td>
                            </tr>
                        </table>
                    </div>

                </div>
            </div>

            <div class="ingredients">
                <div class="separator">
                    <img src="assets/separator/Ingedients.svg" alt="">
                </div>
                <div class="ingredientsContainer">
                    <div>
                        <h5>Your ingredients</h5>
                        <div class="ingredientsWrapper">
                            <li *ngFor="let ingredients of recipe.ingredients.available, let i = index">{{ingredients.size }}
                                <span>{{recipe.ingredients.available[i]}}</span>
                            </li>
                        </div>
                    </div>
                    <div>
                        <h5>Extra ingredients</h5>
                        <div class="ingredientsWrapper">
                            <li *ngFor="let ingredients of recipe.ingredients.missing, let i = index">{{ingredients.size }}
                                <span>{{recipe.ingredients.missing[i]}}</span>
                            </li>
                        </div>
                    </div>
                </div>
            </div>

            <div class="directions">
                <div class="separator">
                    <img src="assets/separator/Directions.svg" alt="">
                </div>
                <div class="directionsContainer">
                    <div class="directionsCard"
                        *ngFor="let stepItem of cookingIngredientList.CookingtextList; let i = index">
                        <div class="directionsHead">
                            <div class="directionsOverview">
                                <span>{{i +1}}.</span>
                                <h5>{{recipe.directions.steps[i].title}}</h5>
                            </div>
                            <div>
                                <img src="assets/icon/cook1.svg" alt="">
                            </div>
                        </div>
                        <div>
                            <span class="cookingText">{{recipe.directions.steps[i].instructions}}</span>
                        </div>
                    </div>
                </div>
            </div>

            <div class="cardFooter">
                <span>just finished this meal?</span>
                <span>Give at a heart, so that the other know this is delicious.</span>
                <button><img src="assets/icon/Heart.svg" alt="heart-Icon"></button>
            </div>
        </div>

        <div class="cookbookContainer">
            <span>Find inpiration for your next culinary adventure</span>
            <button class="bigButton btnLight">Cookbook</button>
        </div>

        <div class="linkContainer">
            <div class="link">
                <a routerLink="/recipe">Generate new recipe</a>
                <img src="assets/icon/Arrow-dark.svg" alt="arrow">
            </div>
        </div>
    </div>
</section>