 @use 'styles/variables';

  @font-face {
   font-family: "ubuntu";
   src: url("/assets/font/ubunt/Ubuntu-Medium.ttf") format("truetype");
   font-weight: 400;
   font-style: normal;
   font-display: swap;
 }
   @font-face {
   font-family: "ubuntu-bold";
   src: url("/assets/font/ubunt/Ubuntu-Bold.ttf") format("truetype");
   font-weight: 400;
   font-style: normal;
   font-display: swap;
 }

    @font-face {
   font-family: "ubuntu-medium";
   src: url("/assets/font/ubunt/Ubuntu-Medium.ttf") format("truetype");
   font-weight: 400;
   font-style: normal;
   font-display: swap;
 }


 @font-face {
   font-family: "quicksand-medium";
   src: url("/assets/font/quicksand/Quicksand-Medium.ttf") format("truetype");
   font-style: normal;
   font-weight: 500;
   font-display: swap;
 }

 
 @font-face {
   font-family: "quicksand";
   src: url("/assets/font/quicksand/Quicksand-Regular.ttf") format("truetype");
   font-style: normal;
   font-weight: 400;
   font-display: swap;
 }

 @font-face {
   font-family: "quicksand-semiBold";
   src: url("/assets/font/quicksand/Quicksand-SemiBold.ttf") format("truetype");
   font-style: normal;
   font-weight: 400;
   font-display: swap;
 }


 * {
   margin: 0;
   padding: 0;
   box-sizing: border-box;
   scroll-behavior: smooth;
 }

  body {
   font-family: quicksand;
 }

.bigButton{
    padding: 12px 24px;
    min-width: 186px;
    height: 60px;
    font-size: 20px;
    font-weight: 500;
    border: none;
    cursor: pointer;
    font-family: quicksand-semiBold;
}

.content-beg {
  max-width: 1920px;
  width: 100%;
}

.content-border{
  padding: 0px 24px;
}

.btnDark{
  color: #008000;
  background-color: var(--font-color-default);
}
.btnLight{
color: white;
background-color: #055E05;
}
 .dark { background-color: var(--bg-color);
  a { color: var(--font-color-default) }
}
 
.light { background-color: white;
          a { color: var(--bg-color) }
}


.returnContainer{
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 8px;
  padding: 0px 72px;
  >.arrow180deg{
    transform: rotate(180deg);
  
  }
  >a{
    text-decoration: none;
    color: #1E5515;
    font-size: 16px;
    font-family: quicksand;
  }
}
