@use 'styles/variables' as *;


@font-face {
  font-family: "quicksand";
  src: url("/assets/font/quicksand/Quicksand-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "quicksand-medium";
  src: url("/assets/font/quicksand/Quicksand-Medium.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "quicksand-semiBold";
  src: url("/assets/font/quicksand/Quicksand-SemiBold.ttf") format("truetype");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "ubuntu-medium";
  src: url("/assets/font/ubunt/Ubuntu-Medium.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "ubuntu-bold";
  src: url("/assets/font/ubunt/Ubuntu-Bold.ttf") format("truetype");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

body {
  font-family: var(--font-body);
}


.mainContainer {
  width: 100%;
  max-width: 1920px;
}

.content-border {
  padding: 0 48px;
}


.dark {
  background-color: var(--green-medium);

  a { color: var(--cream-warm); }
}

.light {
  background-color: white;

  a { color: var(--green-medium); }
}


.bigButton {
  padding: 12px 24px;
  min-width: 186px;
  height: 60px;
  font-size: 1.25rem;
  font-family: var(--font-body-bold);
  border: none;
  cursor: pointer;
  transition: transform 0.2s ease-in-out;

  &:hover {
    transform: scale(1.05);
  }
}

.btnDark {
  color: var(--green-bright);
  background-color: var(--cream-warm);
}

.btnLight {
  color: white;
  background-color: var(--green-btn);
}

button:disabled {
  background-color: var(--green-medium) !important;
  cursor: not-allowed !important;
  pointer-events: none !important;
  opacity: 0.5;
}


.returnContainer {
  @include flex(flex-start, center, 8px);
  padding: 0 72px;

  .arrow180deg {
    transform: rotate(180deg);
  }

  a {
    text-decoration: none;
    color: var(--green-dark);
    font-size: 1rem;
    font-family: var(--font-body);
  }
}

.linkContainer {
  width: 100%;
  @include flex(flex-end);

  a {
    @include flex($g: 16px);
    height: 50px;
    width: 280px;
    text-decoration: none;
    text-wrap-mode: nowrap;
    color: white;
    font-size: 1.25rem;
    cursor: pointer;

    &:hover {
      background-color: rgba(255, 255, 255, 0.4);
    }
  }
}

.bgdark {
  color: var(--green-medium) !important;

  &:hover {
    background-color: $green-alpha-10 !important;
  }
}


@media (max-width: 780px) {
  .returnContainer {
    padding: 0 24px;
  }
}
