<section>
    <div class="containerLeft">
        <div class="left">
            <div class="head">
                <div>
                    <h2>AI-Powered recipe generator</h2>
                    <h1>Code à Cuisine</h1>
                </div>
                <a routerLink="recipe"><button class="bigButton btnDark">Get started</button></a>
            </div>

            <div class="heroFooter">
                <h3>Hungry for inspiration?</h3>
                <div class="cookbookTag">
                    <a href="#">Go to cookbook</a>
                    <img src="assets/icon/Arrow 18.svg" alt="arrow">
                </div>
            </div>
        </div>
    </div>
    <div class="right">
        <div class="imgContainer">
            <img src="assets/img/Ellipse 29.svg" alt="">
            <img src="assets/img/Ellipse 30.svg" alt="">
            <img src="assets/img/Ellipse 31.svg" alt="">
        </div>
    </div>
</section>
