@use '../../../../styles/variables' as *;
section{
    @include dpf($jc: space-between);
    background-color: var(--bg-color);
    height: calc(100vh - 84px - 62px);
    @include border(0px, 48px);
    >.containerLeft{
        @include dpf($jc: flex-start);
        >.left{
            height: 700px;
            @include dpf-col($ai: flex-start, $jc:space-between);

        }

    }
    >.right{
        @include dpf();
        position: absolute;
        z-index: 2;
        left: 70%;
        height: 50%;
        transform: translate(-2%, -2.5%);
        >.imgContainer{
            @include dpf-col();
                height: 100vh;
                overflow: hidden;
            >img {
            margin-top: -165px;
            height: 460px;
            background-size: cover;
            }
            
        }
        >.imgContainer img:first-child {
            margin-top: -32px;
            }
    }
}

.head{
    @include dpf-col($ai: flex-start, $g:64px);
}

.heroFooter{
    @include dpf($jc: flex-start, $g: 36px);
    text-align: center;
    >h3{
        font-size: 2rem;
        font-family: var(--font-secondary-medium);
        color: var(--color-text-beige);
        font-weight: 200;
        
    }
    >.cookbookTag{
        @include dpf($g: 8px);
        text-align: center;
        >a{
            text-decoration: none;
            font-family: var(--font-primary-regular);
            font-size: 1.375rem;
            color: var(--color-text-beige);
        }
    }
}

h1{
    font-size: 6.5rem;
    font-family: var(--font-secondary-bold);
    color: var(--color-text-beige);
    
}

h2{
    font-size: 3rem;
    font-family: var(--font-primary-semibold);
    color: var(--color-text-beige);
}

