@use '../../../../styles/variables' as *;


// ════════════════════════════════════════════════════════════════════
// BASE – Desktop > 1150px
// ════════════════════════════════════════════════════════════════════

section {
    background-color: var(--bg-color);
    min-height: calc(100vh - 84px - 62px);
    @include border(0px, 48px);
    @include dpf-col();
    width: 100%;
    position: relative;
    overflow-x: clip;
}

.mainContainer {
    @include dpf($jc: space-between);
    width: 100%;
}

.containerLeft {
    @include dpf($jc: flex-start);
}

.left {
    min-height: 700px;
    @include dpf-col($ai: flex-start, $jc: space-between);
}

.right {
    @include dpf($ai: flex-start);
    position: absolute;
    left: 70%;
    top: -84px;
    height: calc(100% + 84px + 62px); 
    transform: translateX(-2%);
    overflow-y: clip;


    .imgContainer {
        @include dpf-col($jc: flex-start);
        img {
            height: 460px;
            margin-top: -165px;
        }

        img:first-child {
            margin-top: 0;
        }
    }
}

.head {
    @include dpf-col($ai: flex-start, $g: 64px);
}

.heroFooter {
    @include dpf($jc: flex-start, $g: 36px);

    h3 {
        font-size: 2rem;
        font-family: var(--font-secondary-medium);
        color: var(--color-text-beige);
        font-weight: 200;
    }

    .cookbookTag {
        @include dpf($g: 8px);

        a {
            text-decoration: none;
            font-family: var(--font-primary-regular);
            font-size: 1.375rem;
            color: var(--color-text-beige);
        }
    }
}

h1 {
    font-size: 6.5rem;
    font-family: var(--font-secondary-bold);
    color: var(--color-text-beige);
}

h2 {
    font-size: 3rem;
    font-family: var(--font-primary-semibold);
    color: var(--color-text-beige);
}




@media (max-width: 1150px) {

    .left {
        height: auto;
        min-height: 50vh;
        padding: 40px 0;
    }

    .right {
        right: -32%;
        top: -84px;
        transform: none;

        .imgContainer {
            img {
                height: clamp(370px, 42vw, 400px);
                margin-top: clamp(-80px, -10vw, -55px);
            }

            img:first-child {
                margin-top: 0;
            }
        }
    }

    .head {
        gap: 40px;
    }

    .heroFooter {
        gap: 8px;

        h3 {
            font-size: clamp(1rem, 3vw, 2rem);
        }

        .cookbookTag a {
            font-size: clamp(1rem, 2.5vw, 1.375rem);
        }
    }

    h1 {
        font-size: clamp(2.5rem, 7vw, 6.5rem);
    }

    h2 {
        font-size: clamp(1.25rem, 4vw, 3rem);
    }
}



@media (max-width: 780px) {

    section {
        height: auto;
        min-height: calc(100svh - 84px);
        padding: 0 24px;
    }

    .left {
        padding: 32px 0;
    }

    .right {
        right: -32%;
        transform: none;

        .imgContainer {
            height: 100vh;

            img {
                margin-top: -90px;
            }
        }
    }

    .head {
        gap: 20px;
    }

    .heroFooter {
        margin-top: 24px;
        flex-direction: column;
        align-items: flex-start;
        gap: 16px;

        h3 {
            font-size: clamp(1rem, 5vw, 1.5rem);
        }

        .cookbookTag a {
            font-size: clamp(1rem, 4vw, 1.25rem);
        }
    }

    h1 {
        font-size: clamp(2rem, 10vw, 3rem);
    }

    h2 {
        font-size: clamp(1rem, 4vw, 1.5rem);
    }
}


@media (max-width: 580px) {

    .right {
        right: -48%;
    }
    .head {
        gap: 32px;
        >div{
            @include dpf-col($ai: flex-start, $g: 32px);
        }
    }

    h1 span,
    h2 span,
    h3 span {
        display: block;  
    }
}

@media (max-width: 400px) {

    .right {
        right: -70%;
    }
    section{
        padding: 0px 8px
    }
    .imgContainer {
            img {
                height: 320px !important;       
            }
        }
}